### Merging data Frames

In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame([[1,2,31,4],[4,15,45,7],[21,78,96,3],[4,78,23,5]], columns=['A','B','C','D'])
df1

    A   B   C  D
0   1   2  31  4
1   4  15  45  7
2  21  78  96  3
3   4  78  23  5

In [3]:
df2 = pd.DataFrame([[1,15,3,14],[7,78,14,5],[121,2,9,63],[1,718,213,35]], columns=['X','Y','Z','W'])
df2

     X    Y    Z   W
0    1   15    3  14
1    7   78   14   5
2  121    2    9  63
3    1  718  213  35

In [4]:
# new merges dataframe

df3 = df1.merge(df2, right_on='Y', left_on='B')

In [5]:
df3

    A   B   C  D    X   Y   Z   W
0   1   2  31  4  121   2   9  63
1   4  15  45  7    1  15   3  14
2  21  78  96  3    7  78  14   5
3   4  78  23  5    7  78  14   5