### Opening ands reading csv file

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('sample_products.csv')

In [3]:
data

      Index                           Name            EAN  Internal ID
0         1  Notice north democratic fall.  7390809211848           21
1         2           Peace program cover.    29079958081           63
2         3           School whose action.  1700909190602           94
3         4         Fund event until fund.  7641664318679           57
4         5       Seek language major use.  6626997145407           46
...     ...                            ...            ...          ...
4995   4996         Goal call agent front.  7972350707935           35
4996   4997          Last side south foot.  4921205470589           35
4997   4998           Message beyond seat.  8760100588151           31
4998   4999      Can floor similar minute.  2310078190878           90
4999   5000    President poor record else.  4374443961546           41

[5000 rows x 4 columns]

In [4]:
print(data['Index'].dtype)

int64

In [5]:
print(data['Name'].dtype)
print(data['EAN'].dtype)
print(data['Internal ID'].dtype)

object
int64
int64

### Writing csv file

In [6]:
df1 = pd.DataFrame([[1,5,4,7],[4,8,12,36],[45,52,12,30],[45,17,89,63],[20,37,4,9]], columns=['one','two','three','four'])
df1

   one  two  three  four
0    1    5      4     7
1    4    8     12    36
2   45   52     12    30
3   45   17     89    63
4   20   37      4     9

In [7]:
df1.to_csv('exports.csv')

In [8]:
df1.to_csv('sample.csv', index=False)